// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #DBE2C7;
  margin: 0px;
}

.center {
  text-align: center;
}

.hide {
 display: none;
}

.show {
  display: block;
}

.border {
  border: 1px solid #532A01;
}

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

.soft-round {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.shadow {
 -moz-box-shadow: 1px 3px 10px #532A01;
 -webkit-box-shadow: 1px 3px 10px #532A01;
 box-shadow: 1px 3px 10px #532A01;
}

.soft-shadow {
  -moz-box-shadow: 0px 0px 10px #242424;
  -webkit-box-shadow: 0px 0px 10px #242424;
  box-shadow: 0px 0px 15px #242424;
}

.container {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  line-height: 150%;
}

a {
  outline: none;
  text-decoration: none;
  color: #532A01;
}

a:hover {
  color: #662B00;
  -moz-text-shadow: 0px 0px 5px #662B00;
  -webkit-text-shadow: 0px 0px 5px #662B00;
  text-shadow: 0px 0px 5px #662B00;
}

a.current {
  -moz-text-shadow: 0px 0px 5px;
  -webkit-text-shadow: 0px 0px 5px;
  text-shadow: 0px 0px 5px;
}

b {
  font-weight: bold;
  color: #F8FFDB;
  text-shadow: 0px 0px 2px #F8FFDB;
}
