// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #DBE2C7;
  margin: 0px;
}

.center {
  text-align: center;
}

.border {
  border: 1px solid #532A01;
}

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

.shadow {
 -moz-box-shadow: 1px 3px 10px #532A01;
 -webkit-box-shadow: 1px 3px 10px #532A01;
 box-shadow: 1px 3px 10px #532A01;
}

.container {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: #532A01;
}

a:hover {
  color: #662B00;
  text-shadow: 0px 0px 5px #662B00;
}

div#debug {
  margin: 10px;
  padding: 10px;
  background: #d3d3d3;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  font-family: monospace;
  font-size: 12pt;
  color: red;
}