#header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#header {
  width: 100%;
  height: 55px;
  background: #532A01;
  opacity: 0.96;
  -moz-box-shadow: 0px 6px 18px #532A01;
  -webkit-box-shadow: 0px 6px 18px #532A01;
  box-shadow: 0px 6px 18px #532A01;

  #header-content {
    // width: 1000px;
    padding: 0px 20px;
    height: 100%;
    margin: 0px auto;

    div#logo {
      width: 220px;
      height: 53px;
      padding: 18px 0px 0px 0px;
      float: left;
      
      a#arquitectar-logo {
        display: block;
        text-indent: -9999px;
        width: 200px;
        height: 44px;
        background: #DBE2C7 image-url('arquitectar-logo.png') no-repeat;
        -moz-box-shadow: 5px 5px 8px #532A01;
        -webkit-box-shadow: 5px 5px 8px #532A01;
        box-shadow: 5px 5px 8px #532A01;
      }

      a#arquitectar-logo:hover {
        width: 220px;
        height: 53px;
        position: relative;
        top: -5px;
        left: -10px;
        background: #DBE2C7 image-url('arquitectar-logo-hover.png') no-repeat;
        -moz-box-shadow: 10px 10px 16px #532A01;
        -webkit-box-shadow: 10px 10px 16px #532A01;
        box-shadow: 10px 10px 16px #532A01;
      }
    }

    div#main-menu {
      padding: 30px 0px 0px 15px;
      float: left;

      nav ul {
        padding: 0px;
        margin: 0px;

        li {
          padding: 0px 10px;
          list-style-type: none;
          display: inline;
        }
      }

      a.menubutton {
        font-size: 1.6em;
        color: #D5DEB8;
        text-decoration: none;
        padding: 0.3em 0.3em;
      }
      
      a.menubutton:hover {
        color: #F8FFDB;
        text-shadow: 0px 0px 5px #F8FFDB;
      }
    }

    div#user-menu {
      padding: 25px 0px 0px 0px;
      float: right;

      nav ul {
        padding: 0px;
        margin: 0px;

        li {
          padding: 0px 2px;
          list-style-type: none;
          display: inline;
        }
      }

      a {
        font-size: 1.1em;
        color: #D5DEB8;
        text-decoration: none;
      }
      
      a:hover {
        color: #F8FFDB;
        text-shadow: 0px 0px 5px #F8FFDB;
      }
    }
  }
}