// Collaboration
#collaboration {
  .intro {
    padding: 10px;
    font-size: 1.1em;
  }

  .sections {
    padding: 10px;

    h3 {
      color: #532A01;
      border-bottom: 1px solid;
    }

    ul {
      padding: 0px;
      margin: 0px;
      width: 100%;
      display: block;
      list-style-type: none;

      li {
        width: 100%;
        display: inline-block;
      }

      li:nth-child(odd) a{
        padding: 30px 0px 0px 30px;
        float: left;
      }

      li:nth-child(even) a{
        padding: 30px 30px 0px 30px;
        float: right;
      }
    }

    .left-section {
      width: 45%;
      float: left;
    }

    .right-section {
      width: 45%;
      float: right;
    }
  }
}

// Contact Card
#contact-card {
  .email { 
    padding: 20px 0px;
    text-align: center;

    a {
      text-decoration: none;
      color: #532A01;
      font-size: 2.1em;
    }

    a:hover {
      color: #662B00;
      text-shadow: 0px 0px 5px #662B00;
    }
  }

  .social {
    text-align: center;
    img { border: none; }
  }

  .address {
    font-size: 1.2em;
    margin: 15px 35px;

    .street {
      font-size: 1.1em;
      font-weight: bold;
    }

    .city {
    }

    .phone {
      font-size: 1.3em;
      font-weight: bold;
    }

    .map {
      border: 1px solid #532A01;
      border-radius: 5px;
      box-shadow: 5px 5px 3px #888;
    }
  }

  #vitoria-office.address {
    float: left;
  }

  #bilbao-office.address {
    float: right;
  }
}