<div id="footer" class="sticky">
  <div id="footer-menu" class="round">
    <nav>
      <ul>
        <li>
          <%= link_to t('footer.collaboration'), collaboration_path, class: "menubutton" %>
        </li>
        <li>
          <%= link_to t('footer.contact'), contact_path, class: "menubutton" %>
        </li>
        <li>
          <%= link_to t('footer.about'), about_path, class: "menubutton" %>
        </li>
      </ul>
    </nav>
  </div>
</div>