<footer>
  <div id="footer-menu">
    <nav>
      <ul>
        <li>
          <%= link_to t('footer.news'), news_path, class: "menubutton" %>
        </li>
        <li>
          <%= link_to t('footer.colaboration'), colaboration_path, class: "menubutton" %>
        </li>
        <li>
          <%= link_to t('footer.contact'), contact_path, class: "menubutton" %>
        </li>
        <li>
          <%= link_to t('footer.about'), about_path, class: "menubutton" %>
        </li>
      </ul>
    </nav>
  </div>
</footer>