<div id="footer" class="round shadow sticky">
  <div id="footer-menu">
    <nav>
      <ul>
        <li>
          <%= link_to t('footer.collaboration'), collaboration_path, class: "menubutton" %>
        </li>
        <li>
          <%= link_to t('footer.contact'), contact_path, class: "menubutton" %>
        </li>
      </ul>
    </nav>
  </div>
  <%= content_tag :div, t('copyright'), id: 'copyright' %>
</div>